<!-- <ion-view view-title="Browse">
  <ion-content ion-sticky>
    <ion-list>
      <ion-item class="item-divider"> A </ion-item>
      <ion-item> A1 </ion-item>
      <ion-item> A2 </ion-item>
    </ion-list>
  </ion-content>
</ion-view> -->

<ion-view view-title="Browse">
  <ion-content ion-sticky>
    <div class="card">
      <div class="item item-icon">
        <img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/6443/6443034_sa.jpg;maxHeight=145;maxWidth=222">
        <h2>Macbook Air</h2>
        <p>Apple</p>
      </div>
      <a class="item item-icon-left positive" onclick="window.open('http://www.bestbuy.com/site/apple-macbook-air-latest-model-13-3-display-intel-core-i5-8gb-memory-128gb-flash-storage-silver/6443034.p?id=1219661416264&skuId=6443034', '_system', 'location=yes'); return false;">
        <i class="icon ion-help"></i> Know More
      </a>
    </div>
    <div class="card">
      <div class="item item-icon">
        <img src="http://image.redbull.com/rbx00264/0100/0/406/products/packshots/en_GB/Red-Bull-Energy-Drink-Can-UK.png">
        <h2>RedBull</h2>
        <p>Energy Drink</p>
      </div>
      <a class="item item-icon-left positive" onclick="window.open('https://en.wikipedia.org/wiki/Red_Bull', '_system', 'location=yes'); return false;">
        <i class="icon ion-help"></i> Know More
      </a>
    </div>


  </ion-content>
</ion-view>
