<ion-view view-title="Settings">
  <ion-content>
    <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Trend View</ion-toggle>
    <ion-toggle toggle-class="toggle-positive">Network Saver</ion-toggle>
    <ion-toggle toggle-class="toggle-assertive">Images</ion-toggle>
    <ion-toggle toggle-class="toggle-balanced">Data Collection</ion-toggle>
    <ion-toggle toggle-class="toggle-energized">Allow posting to twitter</ion-toggle>
    <div class="item range">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume">
      <i class="icon ion-volume-high"></i>
    </div>
  </ion-content>
</ion-view>
